<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Students list</title>
  </head>
  <body>
    <h1>Students List:</h1>
    <ul>
      <h5>name | major | grade:</h5>
        {% for i in key %}
          <li>{{ i.name }} | {{ i.field }} | {{ i.grade }}</li>
          <h4>Courses:</h4>
          <ul>
            <h5>title | start | end: description</h5>
            {% for course in i.courses.all %}
              <li> {{ course.title }} | {{ course.start }} | {{course.end}} <br> {{course.description}} </li>
            {% endfor %}        
          </ul>
          {% endfor %}
    </ul>